* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: rgb(255, 0, 72);
}

.main-title {
  color: rgb(220, 250, 215);
}

nav {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 20px;
  padding: 1%;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.nav-link:hover {
  color: blue;
}

.card-image {
  max-width: 70%;
}

.movie-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 2%;
}

.card {
  width: calc((100% - 60px) / 4);
}

.movie-detail-container {
  display: flex;
  justify-content: center;
}

.detail-header {
  text-align: center;
  margin-bottom: 1%;
  margin-right: 150px;

}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 2%;
  align-items: center;
}

.review-card {
  border: 1px solid black;
}