* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: rgb(255, 0, 72);
}

.main-title {
  color: rgb(220, 250, 215);
}

nav {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 20px;
  padding: 1%;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.nav-link:hover {
  color: blue;
}